[submodule "source/jcurses"]
	path = source/jcurses
	url = https://github.com/beryllium-org/jcurses
[submodule "source/jz"]
	path = source/jz
	url = https://github.com/beryllium-org/jz
[submodule "scripts/CircuitMPY"]
	path = scripts/CircuitMPY
	url = https://github.com/beryllium-org/CircuitMPY
[submodule "source/cptoml"]
	path = source/cptoml
	url = https://github.com/beryllium-org/cptoml
[submodule "packages/ducky"]
	path = packages/ducky
	url = https://github.com/beryllium-org/ducky
[submodule "scripts/jpkgstrap"]
	path = scripts/jpkgstrap
	url = https://github.com/beryllium-org/jpkgstrap
[submodule "packages/nano"]
	path = packages/nano
	url = https://github.com/beryllium-org/nano
[submodule "packages/hashutils"]
	path = packages/hashutils
	url = https://github.com/beryllium-org/hashutils
[submodule "packages/neofetch"]
	path = packages/neofetch
	url = https://github.com/beryllium-org/neofetch
[submodule "packages/jpkg"]
	path = packages/jpkg
	url = https://github.com/beryllium-org/JPKG
[submodule "packages/less"]
	path = packages/less
	url = https://github.com/beryllium-org/less
[submodule "packages/ed"]
	path = packages/ed
	url = https://github.com/beryllium-org/ed
[submodule "packages/camera"]
	path = packages/camera
	url = https://github.com/beryllium-org/camera
[submodule "packages/m5x-config"]
	path = packages/m5x-config
	url = https://github.com/beryllium-org/m5x-config
[submodule "packages/wget"]
	path = packages/wget
	url = https://github.com/beryllium-org/wget
[submodule "packages/ftpd"]
	path = packages/ftpd
	url = https://github.com/beryllium-org/ftpd
[submodule "packages/netutils"]
	path = packages/netutils
	url = https://github.com/beryllium-org/netutils
[submodule "packages/virtUART"]
	path = packages/virtUART
	url = https://github.com/beryllium-org/virtUART
[submodule "packages/lm_sensors"]
	path = packages/lm_sensors
	url = https://github.com/beryllium-org/lm_sensors
[submodule "packages/fbs3-config"]
	path = packages/fbs3-config
	url = https://github.com/beryllium-org/fbs3-config
[submodule "packages/womp"]
	path = packages/womp
	url = https://github.com/beryllium-org/womp
[submodule "packages/wio-config"]
	path = packages/wio-config
	url = https://github.com/Beryllium-org/wio-config
[submodule "packages/uartutils"]
	path = packages/uartutils
	url = https://github.com/beryllium-org/uartutils
[submodule "packages/i2ctools"]
	path = packages/i2ctools
	url = https://github.com/beryllium-org/i2ctools
[submodule "packages/cardputer-config"]
	path = packages/cardputer-config
	url = https://github.com/beryllium-org/cardputer-config
[submodule "packages/esp32cam-config"]
	path = packages/esp32cam-config
	url = https://github.com/beryllium-org/esp32cam-config
[submodule "packages/adctools"]
	path = packages/adctools
	url = https://github.com/beryllium-org/adctools
[submodule "packages/sysinfo"]
	path = packages/sysinfo
	url = https://github.com/beryllium-org/sysinfo
[submodule "packages/tws3-config"]
	path = packages/tws3-config
	url = https://github.com/beryllium-org/tws3-config
[submodule "packages/ftouchutils"]
	path = packages/ftouchutils
	url = https://github.com/beryllium-org/ftouchutils
[submodule "packages/twm"]
	path = packages/twm
	url = https://github.com/beryllium-org/twm
[submodule "packages/bma423utils"]
	path = packages/bma423utils
	url = https://github.com/beryllium-org/bma423utils
[submodule "packages/axp2101utils"]
	path = packages/axp2101utils
	url = https://github.com/beryllium-org/axp2101utils
[submodule "packages/drvutils"]
	path = packages/drvutils
	url = https://github.com/beryllium-org/drvutils
[submodule "packages/pcf8563utils"]
	path = packages/pcf8563utils
	url = https://github.com/beryllium-org/pcf8563utils
[submodule "packages/i2stools"]
	path = packages/i2stools
	url = https://github.com/beryllium-org/i2stools
[submodule "packages/espnowtools"]
	path = packages/espnowtools
	url = https://github.com/beryllium-org/espnowtools
